body {
    background-color: #f3f2f1;
}

h1 {
    font-family: 'Montserrat', 'Lato', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #383837;
    text-align: center;
    margin-top: 60px;
}